@import "rsuite/dist/rsuite.css";


.App {
  text-align: center;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main-comp {
  width: 600px;
  height: 600px;
  margin-top: -120px;
  border-radius: 8px;
  background-color: rgb(217, 215, 215);
  border-style: solid;
  border-color: black;
}

.Second-comp {
  width: 300px;
  height: 600px;
  margin-top: -120px;
  background-color: rgb(217, 215, 215);
  margin-left: 40px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  overflow-y: scroll;
}

.Comp-heading {
  font-size: 18px;
  color: black;
}

.Comp-input {
  width: 525px;
  height: 30px;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-size: 15px;
  color: black;
}

.Input-div,
.Desc-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Booking-btn {
  background-color: #e7e7e7;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.Booking-btn:hover {
  background-color: #8d8d8d;
  color: white;
}

.Desc-div {
  margin-top: 50px;
}

.logo {
  width: 300px;
  height: 120px;
  margin-top: 60px;
}


.Submit-btn {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  position: relative;
  margin-top: 3px;
}

.Desc-input {
  position: relative;
  color: black;
  width: 500px;
  height: 150px;
  border-radius: 15px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  font-size: 15px;
  margin-top: -15px;
  border-color: black;
}

.Desk-comp {
  height: 50px;
  width: 220px;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}


.Desk-text {
  font-size: 14px;
  color: black;
}

.calendar {
  border-style: solid;
  border-color: black;
  margin-top: 5px;
  border-radius: 10px;
}

.Drop-down {
  position: relative;
  background-color: white;
  border: 3px solid rgb(3, 3, 3);
  border-radius: 2px;
  color: rgb(10, 1, 1);
  cursor: default;
  outline: none;
  padding: 2px 1px 2px 2px;
  transition: all 200ms ease;
  margin-right: 380px;
  font-size: 20px;
  margin-top: 5px;
  height: 50px;
}


.Drop-down:hover {
  box-shadow: 0 1px 0 rgba(4, 0, 0, 0.06);
}

.Drop-div {
  position: absolute;
  flex-direction: row;
  margin-left: 35px;
}

.Drop-div-2 {
  position: absolute;
  margin-left: 445px;
  width: 500px;
}

.Arrow-class {
  border-color: rgb(208, 20, 20) transparent transparent;
  border-style: solid;
  border-width: 7px 7px 0;
  content: '';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  right: 10px;
  top: 14px;
  width: 0
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}