@import "rsuite/dist/rsuite.css";


.App {
  text-align: center;
  flex-direction: row;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main-comp {
  width: 600px;
  height: 600px;
  margin-top: -120px;
  border-radius: 8px;
  background-color: rgb(217, 215, 215);
  border-style: solid;
  border-color: black;
  filter: drop-shadow(10px 10px 10px #A4BBFF);
}

.Second-comp {
  width: 300px;
  height: 600px;
  margin-top: -120px;
  background-color: rgb(217, 215, 215);
  margin-left: 40px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  overflow-y: scroll;
}

.Desk-un {
  color: red;
  font-size: 12px;
}

.Comp-heading {
  font-size: 25px;
  color: black;
}

.Booked-title {
  font-size: 25px;
  color: black;
  margin-top: 13px;
}

.Comp-input {
  width: 525px;
  height: 30px;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-size: 15px;
  color: black;
}

.Input-div,
.Desc-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Booking-btn {
  background-color: #e7e7e7;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.Booking-btn:hover {
  background-color: #8d8d8d;
  color: white;
}

.Desc-div {
  margin-top: 50px;
}

.logo {
  width: 400px;
  height: 120px;
  margin-top: 60px;
}

.Submit-btn {
  background-color: red;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  position: relative;
  margin-top: 3px;
}

.Submit-btn:hover {
  background-color: #b31010;
  color: white;
}

.Switch-btn:hover {
  background-color: #625959;
  color: white;
}

.Desc-input {
  position: relative;
  color: black;
  width: 500px;
  height: 150px;
  border-radius: 15px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  font-size: 15px;
  margin-top: -15px;
  border-color: black;
}

.Desk-comp {
  height: 75px;
  width: 220px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
  filter: drop-shadow(10px 10px 10px #1a1b1c);
}

.Desk-text {
  font-size: 14px;
  color: black;
}

.Calendar {
  width: 400px;
  max-width: 50%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.Drop-div {
  position: absolute;
  flex-direction: row;
  margin-left: 34px;
  margin-top: 5px;
}

.Drop-div-2 {
  position: absolute;
  margin-left: 425px;
  margin-top: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.result {
  padding: 8px 0;
}

.arrow-closed,
.arrow-open {
  border: solid #999;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
}

.arrow-closed {
  top: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow-open {
  top: 14px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  font-size: 22px;
  padding: 8px -5px 8px 10px;
  transition: all 200ms ease;
  width: 135px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  font-size: 12px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}